* {
	text-align: center;
	box-sizing: border-box;
	color: #d4d4dc;
}

body {
	height: 100vh;
	width: 100vw;
	min-height: 450px;
	margin: 0;
	background-color: #393f4d;
}

.redirect-button {
	color: white;
}

header {
	width: 100%;
	height: 15vh;
	background-color: #1d1e22;
	position: relative;
}

h1 {
	height: 100%;
	width: 100%;
	padding-top: 5vh;
	margin: 0;
	font-size: 1.7em;
}

.logo {
	display: inline-block;
	height: 40%;
	width: auto;
	position: absolute;
	left: 2%;
	top: 30%;
}

main {
	height: 100%;
	width: 100%;
}

section {
	min-height: 85vh;
	height: 100%;
	width: 100%;
	position: relative;
}

.div-login-img {
	min-height: 85vh;
	height: 100%;
	width: 100%; 
	background-image: url("motorcycle2.jpg");
	background-size: cover;
	background-position: 52% center;
}

.div-login-form, .div-signup-form {
	position: relative;
	top: -100vh;
	min-height: 85vh;
	height: 100%;
	background-color: rgba(28, 29, 33, 0.65); 
}

.login-form input, .signup-form input {
	width: 60%;
	margin-bottom: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	color: black;
}

.app-intro {
	color: #feda6a;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 3%;
	margin-right: 3%;
	padding: 4%;	
}

.intro-question {
	color: #feda6a;
	font-weight: bold;
	font-size: 1.5em;
}

.div-login-form h2, .div-signup-form h2 {
	margin-top: 0;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.div-login-form h2 {
	margin-bottom: 0;
}

.signup-form fieldset {
	border: none;
}

.signup-form legend {
	color: #feda6a;
}

.login-form button, .signup-form button {
	color: black;
	border-radius: 8px;
	height: 4.5vh;
	background-color: #d4d4dc;
} 

.login-form button:hover, .signup-form button:hover {
	background-color: #4CAF50;
}

.welcome-user {
	margin: 0;
	height: 20vh;
	background: 
		linear-gradient(rgba(28, 29, 33, 0.65),rgba(28, 29, 33, 0.65)),
		url('engine.jpg');
	background-size: cover;
	text-align: left;
	padding: 4%;
	color: #feda6a; 
}

.username {
	color: #feda6a;	
}

.add-vehicle-button, .submit-vehicle-button, .submit-maint-button, .add-maint-button, 
.update-maint-button, .delete-maint-button, .submit-update-button {
	border-radius: 8px;
	background-color: rgba(28, 29, 33, 0.5);
}

.add-vehicle-button {
	height: 5%;	
	margin-top: 2%;
}

.submit-vehicle-button, .submit-maint-button {
	height: 4vh;
	margin-top: 2vh;
}

.add-maint-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 5vh;
	margin-top: 2%;
	margin-bottom: 2%;
}

.add-vehicle-button:hover, .submit-vehicle-button:hover, .add-maint-button:hover, 
.update-maint-button:hover, .submit-update-button:hover, .submit-maint-button:hover {
	background-color: #4CAF50;;
}

.delete-maint-button:hover {
	background-color: red;
}

.add-vehicle, .add-maint {
	margin-top: 2%;
}

.add-vehicle > input, .add-maint > input {
	margin-top: 1%;
	display: block;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	color: black;
}

.user-inst {
	color: #feda6a;
	display: block;
	margin-top: 1%;
	text-align: left;
	padding-left: 4%;	
}

h3 {
	cursor: pointer;
	font-size: 1.5em;
	margin-top: 2%;
	margin-bottom: 0;
	text-align: left;
	padding-left: 4%;
	background-color: rgba(28, 29, 33, 0.90); 
}

h4 {
	margin: 0;
	background-color: rgba(28, 29, 33, 0.4);
	color: #feda6a; 
}

.add-vehicle > label, .add-maint > label {
	display: block;
	text-align: left;
	margin-left: 15%;
	margin-top: 3%;

}

.update-maint-button, .delete-maint-button {
	display: inline-block;
	margin-right: 3%;
	margin-top: 2%;
	width: 25%;
	height: 4vh;
}

.submit-update-button {
	margin-top: 2%;
	margin-bottom: 2%;
	height: 4vh;
}

ul {
	list-style: none;
	padding-left: 4%;
	padding-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: 1px solid;
}

li {
	text-align: left;
	padding-bottom: 1%;
	font-size: 1.2em;
}

.maint-fields {
	color: #feda6a;
}

.error {
	color: red;
	font-size: 1.4em;
	display: block;
	font-weight: 900;
	margin-right: 2%;
	margin-left: 2%;
}

